.col-md-6.col-md-offset-3.text-center.start.img-rounded
  %h1.logo
    IDEM
  %h3
    Агрегатор собыйти из социальных сетей
  = link_to image_tag('http://vk.com/images/safari_60.png', class: 'social-ico',alt:'vk')+' Войти используя Вконтакте', user_omniauth_authorize_path(:vkontakte),class: 'btn btn-default'